<!DOCTYPE html>
<html>
<head>
	<title>字典分组</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  	<script src="/common/css.js"></script>
</head>
<body>
<div id="rrapp" class="content" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-xs-4" style="padding-left: 1px;">
				<div class="input-group">
					<span class="input-group-addon">时间</span>
					<input type="text" class="form-control" id="filterTime" readonly>
					<span class="input-group-addon" title="清除" style="cursor:pointer" @click="trash">
						<i class="fa fa-trash-o bigger-110"></i>
					</span>
				</div>
			</div>
		
			<a v-if="hasPermission('sys:dict:list')" class="btn btn-default" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
			<a v-if="hasPermission('sys:dict:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('sys:dict:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('sys:dict:delete')" class="btn btn-warning" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" role="form" style="width:90%; min-width: 600px;">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">编码</div>
			   	<div class="col-sm-10">
			      	<input type="text" class="form-control" v-model="dto.code" placeholder="分组编码"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">名称</div>
			   	<div class="col-sm-10">
			      	<input type="text" class="form-control" v-model="dto.name" placeholder="分组名称"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			   		<textarea class="form-control" rows="4" v-model="dto.remarks" placeholder="备注" style="resize: none;"></textarea>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="/common/js.js"></script>
<script type="text/javascript">
	dynamicLoading.js(rootPath + "js/modules/sys/dict.js", "utf-8");
</script>
</body>
</html>