<!DOCTYPE html>
<html>
<head>
	<title>代码生成器</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  	<script src="/common/css.js"></script>
</head>
<body>
<div id="rrapp" class="content">
	<div class="grid-btn">
		<div class="form-group col-xs-3" style="padding-left: 1px;">
			<div class="input-group">
				<span class="input-group-addon">表名</span>
				<input type="text" class="form-control" v-model="q.tableName" @keyup.enter="query" placeholder="表名">
				<span class="input-group-addon" title="根据表名搜索" style="cursor:pointer">
					<i class="fa fa-table bigger-110"></i>
				</span>
			</div>
		</div>
		<a class="btn btn-default" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
		<a class="btn btn-primary" @click="generator"><i class="fa fa-file-code-o"></i>&nbsp;生成代码</a>
	</div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<script src="/common/js.js"></script>
<script type="text/javascript">
	dynamicLoading.js(rootPath + "js/modules/sys/generator.js", "utf-8");
</script>
</body>
</html>